<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DKV Xpress</title>
        
        <!-- Call Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>
        .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
        </style>
    </head>

    <body>
        <div class="container" >
                <div class="row">

                        <img id="status" style="width:100%;max-height:200px" src="images/status_1.png">
    
                    </div>
                    <div class="offset-xs-4 col-centered">
                           <b><h4 id="status_line" style="margin:auto;color: green"></h4></b> 
                    </div>
            <div class="row col-lg-8 col-xs-12 col-centered">
                
                
                
                <!-- The todolist -->
                <ul id="todolist"></ul>
                <h3 style="right:0" id="role"></h3>
                <!-- The form to add task -->
                <form action="/" method="post" id="todolistForm">
                    <div class="form-group">
                        <label for="task">Issue</label>
                        <input type="text" class="form-control input-lg" value="Flat Tyre" name="task" id="task" required>
                    </div>
                    <div class="form-group">
                            <label for="task">DKV Number</label>
                            <input type="text" value="704310-215676-50090" class="form-control input-lg" name="task" id="dkvNo" required>
                        </div>
                    <div class="form-group">
                        <label for="task">Number Plate</label>
                        <input type="text" value="Y-127-508" class="form-control input-lg" name="task" id="noPlate" required>
                        <h4 id="updatedBy"></h4>
                    </div>
                   
                   <!-- <div class="form-group">
                        <label for="task">Destination</label>
                        <input type="text" class="form-control input-lg" name="task" id="dest" required>
                    </div> -->
                    <div class="form-group">
                            <label for="task">Spare Part</label>
                            <input type="text" value="Tyre Brand: Michelin / Diameter : 22.5" class="form-control input-lg" name="task" id="diameter" required>
                        </div>
                    <div class="form-group">
                        <label for="task">Truck</label>
                        <input type="text" value="MAN" class="form-control input-lg" name="task" id="truckModel" required>
                    </div>
                    <div class="form-group">
                        <label for="task">Model</label>
                        <input type="text" value="LE / L2000" class="form-control input-lg" name="task" id="tyreBrand" required>
                    </div>
                    
                   <!-- <button  type="submit" class="btn btn-primary btn-lg" id="sendTask">Submit</button>-->
                    <a class="btn btn-primary btn-lg" id="confirm" onclick="confirm()">Confirm</a>
                    <a class="btn btn-primary btn-lg" id="workshop_selected" style="display:none" onclick="workshop()">Workshop Selected</a>
                    <a class="btn btn-primary btn-lg" id="tracking" style="display:none" onclick="tracking()">Send Tracking Details</a>
                    <a class="btn btn-primary btn-lg" id="invoice" style="display:none" onclick="invoice()">Generate Invoice</a>
                </form>
               <!-- <a href="#" class="float">
                        <i class="fa fa-plus my-float"></i>
                        </a>-->
            </div>
        </div>
        <!-- Call JS files -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/Xpress.js"></script>
    </body>

</html>
